
body {
  margin-top: 110px;
}

/* ***** Navbar ******* */
.nav-item:hover,
#navbar-toggler:hover,
.dropdown-item:hover {
  background-color: $dark;
}

.dropdown-item,
.nav-link,
.dropdown-menu{
  color: rgba(255, 255, 255, 0.6) !important;
  border: none;
  border-radius: 0px;
  text-align: center;
}
.dropdown-menu {
  margin-top: 0px;
}

.dropdown-toggle {
  background-color: $secondary;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

/* ***** Table ******* */
.table-borderless tr, .table-borderless td {
  border: none !important;
}

tr {
  border-bottom: 1px solid #cfdfe1;
}

table, tbody, tr, th {
  border-top: none !important;
}

.border-bottom-thick td,
.border-bottom-thick th {
  border-bottom: 1px solid $muted !important;
}

.table td, .table th {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

table {
  margin: 0 auto;
}

.active-player {
  border-radius: 0.5rem;
  border: 0px solid $primary;
  padding: 0.1rem 0.4rem;
  margin: 0.4rem 0;
  background-color: $primary-light;
}



.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    text-decoration: none;
  }
}

.line-through {
  text-decoration: line-through;
}

.site-title {
  font-family: Raleway;
  font-weight: 300;
}


input[type=number] {
  width: 90px;
  text-align: center;
}

.alert {
  display: inline-block;
}

.text-small {
  font-size: 0.87rem;
}

.bg-danger-light {
  background-color: $danger-light;
}
.bg-primary-light {
  background-color: $primary-light;
}

ul {
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
}

#regeln > h3 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
}