
body {
  margin-top: 110px;
}

.nav-item:hover,
#navbar-toggler:hover {
  background-color: $dark;
}

.site-title {
  font-family: Raleway;
  font-weight: 300;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}



.table-borderless tr, .table-borderless td{
  border: none !important;
}

tr {
  border-bottom: 1px solid #cfdfe1;
}

table, tbody, tr, th {
  border-top: none !important ;
}

.border-bottom-thick {
  border-bottom: 2px solid $muted !important;
}

.table td, .table th {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

table {
  margin: 0 auto;
}

input[type=number] {
  width: 90px;
  text-align: center;
}

.alert {
  display: inline-block;
}
