
// Body
$body-bg: #f1f1ef;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.96rem;
$line-height-base: 1.6;

// Colors
$primary: #D16341;
$primary-light: rgba(209, 99, 65, 0.25);
$muted: #1C7293;
$light: #cbe7f7;
$dark: #21295C;
$secondary: #065A82;
$danger-light: rgba(227, 52, 47, 0.25);

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
