.card-header {
  border: 0;
}

.card-footer {
  border: 0;
}

.card {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: 0px;
}

.group {
    @apply rounded bg-white px-3 py-2  shadow-2 my-3 mx-auto;
}
