/*
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar:vertical {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #E4E4E4;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    @apply tw-bg-gray-300;
}*/
