.dropdown-search:focus ~ .dropdown-content,
.dropdown:hover .dropdown-content{
    display: block;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #E4E4E4;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    @apply tw-bg-gray-300;
}

.custom-outline {
    box-shadow: 0 0 0 1px #D16341;
}
